*.DS_Store
PiMote/PiMote Android App/.idea/workspace.xml
*.class
*.pyc
PiMote/PiMote Android App/.idea/workspace.xml

PiMote/PiMote Android App/project.properties

PiMote/PiMote Android App/.idea/workspace.xml
*.apk
*.pyc

.DS_Store

PiMote/PiMote Android App/out/production/PiMote/PiMote.apk.res

*.dex

PiMote/PiMote Android App/out/production/PiMote/classes.dex

PiMote/PiMote Android App/out/production/PiMote/classes.dex

.DS_Store
